backups
*.log
*.sql
*.txt
*.csv
*.xml
*.bz*
*.tar*

common/config/*
log/*
# yii console command
/yii
/node_modules/*
frontend/config/*
frontend/modules/*
frontend/web/assets/*
frontend/web/index-test.php
frontend/web/index.php
frontend/web/dist/*
frontend/web/img/

frontend/web/google_parsed/
frontend/web/img_d/
frontend/web/user_photo/
        

backend/modules/*
backend/web/assets/*
backend/web/index-test.php
backend/web/index.php
backend/web/dist/*
/media/*

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# sublime text project files
*.sublime-project
*.sublime-workspace

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar
composer.lock

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

media
uploads
resized
frontend/web/fonts/
.well-known

tests/_output/*
tests/_output/*


backend/web/*

nodesource_setup.sh
dev.sh
robots.txt

# visual studio code project files
.vscode

elasticsearch-6.8.9.deb
elasticsearch-6.8.9.deb.sha512