.content_wrap{
    margin-top: 56px;
    background-size: 500%;
    background-position: 100% 0px;
}

.content_block{
    width: calc(100% - 30px);
}

h1{
    font-weight: bold;
    line-height: 34px;
    font-size: 32px;
    text-align: center;
    color: #000000;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 26px;
}

.content_block_title p {
    line-height: 25px;
}

._pagination {
    display: flex;
    justify-content: center;
    margin-top: 27px;
}

._pagination .swiper-pagination-bullet{
    width: 8px;
    height: 8px;
    border: 1px solid;
    border-radius: 0px;
    margin: 0px 6px;
    background-color: transparent;
    border-color: #80A7BB;
    transform: rotate(45deg);
    opacity: 1;
}

._pagination .swiper-pagination-bullet-active{
    background-color: #005078;
    border-color: #005078;
}

/*------------------------------------------------------------------------ HEADER -----------------------------------------------------------------------*/

header{
    height: 56px;
}

.header_wrap{
    padding: 0px 15px;
}

.header_logo_img {
    width: 26px;
    height: 19px;
    background-size: 100%;
}

.header_logo_text {
    margin-left: 5px;
    height: 19px;
}

.header_logo_text_title {
    font-size: 18px;
    margin-top: -3px;
}

.header_logo_text_desc {
    font-size: 5px;
    margin-top: -3px;
}

.header_menu{
	display: flex;
    flex-direction: column;
	position: absolute;
    left: 0px;
    background: white;
    width: calc(100% - 20px);
    justify-content: space-between;
    padding: 11px 10px;
    top: calc(100% + 1px);  
    border-bottom: 1px solid #DEDEDE;
    transform: translateY(10px);
    opacity: 0;
    box-shadow: 0px 3px 6px rgba(3, 49, 52, 0.06); 
    transition: transform 0.3s ease, opacity 0.3s ease; 
    pointer-events: none;
}

header._active .header_menu{
	display: flex;
	transform: translateY(0px);
	opacity: 1;
	pointer-events: initial;
}

.header_menu_item {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}

.header_phone{
	margin-right: 39px;
}

.header_burger{
    display: block;
    right: 15px;
}

.header_phone > p {
    font-size: 18px;
}

.header_phone_button{
    display: none;
}

.header_burger{
    width: 25px;
    height: 19px;
    right: 15px;
    top: 19px;
}

.header_burger div{
    width: 25px;
    height: 3px;
}

.header_burger div:nth-child(1){
    transform: translate(0px,0px);
}

.header_burger div:nth-child(2){
    transform: translate(0px,8px);
}

.header_burger div:nth-child(3){
    transform: translate(0px,16px);
}

header._active .header_burger div:nth-child(1){
    transform: translate(0px,8px) rotate(45deg);
}

header._active .header_burger div:nth-child(2){
    transform: translate(0px,8px) rotate(-45deg);
}

header._active .header_burger div:nth-child(3){
    transform: translate(0px,30px);
}

/*------------------------------------------------------------------------ HEADER -----------------------------------------------------------------------*/

/*------------------------------------------------------------------------ FOOTER -----------------------------------------------------------------------*/

footer{
    
}

.footer_row {
    display: flex;
    flex-direction: column;
}

.footer_contacts{
    flex-direction: column;
}

.footer_block{
    margin-bottom: 15px;
    margin-right: 0px;
}

.footer_block._phone{
    margin-bottom: 5px;
}

.footer_block._address,
.footer_block._phone {
    margin-left: 18px;
}

.footer_block._right{
    position: absolute;
}

.footer_disc {
    margin-top: -5px;
}

.footer_block._right {
    position: absolute;
    left: 15px;
    bottom: 0px;
    justify-content: flex-start;
    margin-bottom: 26px;
    width: calc(100% - 30px);
}

.footer_wrap {
    padding: 18px 15px 86px;
}

.footer_block._address br{
    display: none;
}

/*------------------------------------------------------------------------ FOOTER -----------------------------------------------------------------------*/

/*------------------------------------------------------------------------ ГЛАВНАЯ -----------------------------------------------------------------------*/

.main_top{
    width: 100%;
    margin: 24px auto 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main_top_desc {
    margin-left: 0px;
    margin-top: 20px;
}

.main_top_desc p{
    font-size: 20px;
    line-height: normal;
}

.main_nav{
    flex-wrap: wrap;
}

.main_nav_item{
    width: 100%;
    height: auto;
}

.main_nav_item_content{
    padding: 18px 20px;
    height: calc(100% - 36px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 80, 120, 0.6);
}

p.main_nav_item_title{
    font-size: 18px;
    font-weight: bold;
}

.main_nav_item_list{
    display: flex;
    flex-wrap: wrap;
}

.main_nav_item_list._tags{
    display: none;
}

.main_nav_item_list a{
    line-height: 16px;
    font-size: 14px;
    margin: 0px 13px 8px 0px;
}

/*------------------------------------------------------------------------ ГЛАВНАЯ -----------------------------------------------------------------------*/

/*------------------------------------------------------------------------ ЛИСТИНГ -----------------------------------------------------------------------*/

.items_list_main {
    overflow: hidden;
    padding-bottom: 5px;
}

.items_list{
    flex-wrap: nowrap;
}

.items_list_listing .items_list{
    flex-wrap: wrap;
}

.items_list_listing .item{
    width: calc(100%);
}

.items_list_main .item{
    margin: 0px;
}

.items_list_listing .item{
    margin-right: 0px;
}

.item_img{
    width: 100%;
}

.item_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p.item_price._sale span {
    display: block;
    margin-top: 0px;
    margin-left: 0px;
}

/*------------------------------------------------------------------------ ЛИСТИНГ -----------------------------------------------------------------------*/

/*------------------------------------------------------------------------ КОМАНДА -----------------------------------------------------------------------*/

.content_block._personal{
    width: calc(100% - 30px);
    padding: 0px 15px;
}

.personal_wrapper{
    width: calc(100% - 90px);
    padding: 0px;
    margin: 0px 45px;
    overflow: hidden;
    padding-bottom: 3px;
}

.personal_wrapper .swiper-slide._personalHalf{
    transform: translateY(0px);
}

.personal_wrapper .swiper-slide._personalCurrent {
    transform: translateY(0px);
}

.personal_arrow {
    width: 39px;
    height: 31px;
    top: 55%;
}

.personal_arrow._next {
    right: 15px;
}

.personal_arrow._prev {
    left: 15px;
}

/*------------------------------------------------------------------------ КОМАНДА -----------------------------------------------------------------------*/

/*----------------------------------------------------------------------- ОТЗЫВЫ -------------------------------------------------------------------------*/

.reviews_list {
    width: calc(100% - 30px);
}

.review {
    flex-direction: column;
    align-items: center;
}

.review_body:before, .review_body:after {
    display: none;
}

.review_body{
    padding: 0px 0px 0px 20px;
}

.reviews_arrow {
    width: 39px;
    height: 31px;
    top: 270px;
}

.reviews_arrow._prev {
    left: 10px;
}

.reviews_arrow._next {
    right: 10px;
}

.review_img {
    margin-bottom: 12px;
}

/*----------------------------------------------------------------------- ОТЗЫВЫ -------------------------------------------------------------------------*/

/*--------------------------------------------------------------------- ЭКСПЕРТНОСТЬ ---------------------------------------------------------------------*/

.pluses{
    flex-direction: column;
    position: relative;
    width: calc(100% + 30px);
    left: -16px;
    margin-top: 50px;
}

.pluses_info{
    width: calc(100% - 30px);
    padding: 40px 15px;
    background-image: url(/assets/img/plusesBack.svg);
    background-repeat: no-repeat;
    background-position: 0 100%;
}

.pluses_items_wrap{
    width: calc(100% - 30px);
    padding: 0px 15px;
}

.pluses_info li:before {
    top: 7px;
}

p.pluses_text,
.pluses_info li,
.pluses_item p{
    font-size: 16px;
    line-height: 22px;
}

.pluses_item {
    padding-left: 65px;
}

.pluses_item:before {
    width: 45px;
    line-height: 45px;
    font-size: 30px;
    top: calc(50% - 24px);
}

/*--------------------------------------------------------------------- ЭКСПЕРТНОСТЬ ---------------------------------------------------------------------*/

/*---------------------------------------------------------------------- ЦЕННОСТИ ------------------------------------------------------------------------*/

.valuations_header {
    padding: 30px 0px 25px;
}

.valuations_menu{
    display: none;
}

.valuations_items{
    width: calc(100% - 40px);
    padding: 30px 20px 30px 20px;
    overflow: hidden;
}

.valuations_item{
    display: flex;
    padding: 0px;
}

.valuations_item_img{
    position: absolute;
    width: 80px;
    height: 70px;
}

.valuations_item img {
    height: 100%;
    max-width: 100%;
}

.valuations_item_text{
    width: 100%;
}

.valuations_item_text h3{
    padding-left: 90px;
    margin-bottom: 10px;
    min-height: 80px;
    display: flex;
    align-items: center;
}

/*---------------------------------------------------------------------- ЦЕННОСТИ ------------------------------------------------------------------------*/

/*---------------------------------------------------------------- ПРОДАДИМ НЕДВИЖИМОСТЬ -----------------------------------------------------------------*/

.sell{
    flex-direction: column;
    padding: 65px 20px 30px;
}

.sell:before {
    transform: none;
    height: 60px;
    width: 500px;
    background-position: 0px 100%;
    left: calc(50% - 250px);
    top: 0px;
}

p.sell_text {
    margin: 0px;
    text-align: center;
    font-size: 26px;
    line-height: 27px;
    margin-bottom: 15px;
}

.sell_button{
    margin: 0px;
    width: 100%;
    padding: 0px;
    text-align: center;
}

/*---------------------------------------------------------------- ПРОДАДИМ НЕДВИЖИМОСТЬ -----------------------------------------------------------------*/

/*------------------------------------------------------------------- ОБРАТНАЯ СВЯЗЬ ---------------------------------------------------------------------*/

.callback {
    flex-direction: column;
    width: calc(100% + 30px);
    position: relative;
    left: -15px;
}

.callback_info{
    width: calc(100% - 30px);
    flex-direction: column;
    padding: 30px 15px 26px 15px;
}

.callback_form{
    width: calc(100% - 30px);
    padding: 30px 15px 26px 15px;
}

.callback_form form {
    width: 100%;
}

.callback_input {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 22px;
    position: relative;
}

.callback_img {
    margin-right: 0px;
    height: 208px;
}

.callback_img img {
    width: auto;
    height: 100%;
}

.callback_text{
    width: 100%;
    padding-right: 0px;
}

.callback_text h2{
    font-size: 28px;
    margin-top: 17px;
}

.personalData_wrapper {
    width: 100%;
}

.personalData_label{
    position: relative;
    left: 0px;
    bottom: auto;
    margin-top: 20px;
}

.callback_textarea {
    width: 100%;
}

.callback_input input,
.callback_form textarea{
    width: calc(100% - 32px);
}

.callback_submit {
    width: 100%;
}

.callback_form_success{
    position: absolute;
    width: calc(100% - 30px);
}

.callback_form._success form {
    position: relative;
}

/*------------------------------------------------------------------- ОБРАТНАЯ СВЯЗЬ ---------------------------------------------------------------------*/

/*----------------------------------------------------------------- ЗАГОЛОВОК ВНУТРЯКА -------------------------------------------------------------------*/

.breadcrumbs{
    display: none;
}

.title{
    width: calc(100% - 40px);
}

.search_open{
    height: 22px;
    width: 22px;
    margin-left: 9px;
    position: initial;
}

.search_popup_title {
    font-size: 30px;
}

.title h1 {
    padding-top: 4px;
}

.title_adds {
    margin-top: 10px;
}

.title_adds_service{
    margin-top: 0px;
}

.title_adds_service p {
    font-size: 20px;
}

/*----------------------------------------------------------------- ЗАГОЛОВОК ВНУТРЯКА -------------------------------------------------------------------*/

/*------------------------------------------------------------------- ШАПКА ОБЪЕКТА ----------------------------------------------------------------------*/

.object_head{
    flex-direction: column;
    margin-top: 30px;
}

.object_gallery{
    width: 100%;
}

.object_info{
    width: calc(100%);
    padding-left: 0px;
    margin-top: 14px;
}

.object_buy{
    width: 100%;
    margin: 4px auto 28px;
}

.object_buy_button {
    width: 125px;
}

.object_buy_price {
    width: calc(100% - 185px);
    padding: 10px 40px 10px 20px;
}

p.object_icon_title {
    line-height: 24px;
    font-size: 20px;
}

p.object_icon_desc {
    line-height: 10px;
    font-size: 8px;
}

.object_buy_button p {
    line-height: 19px;
    font-size: 18px;
}

p.object_buy_newPrice {
    line-height: 31px;
    font-size: 24px;
}

p.object_buy_oldPrice {
    line-height: 18px;
    font-size: 14px;
    text-decoration-line: line-through;
    color: #333333;
}

/*------------------------------------------------------------------- ШАПКА ОБЪЕКТА ----------------------------------------------------------------------*/

/*------------------------------------------------------------------- КАРТА ОБЪЕКТА ----------------------------------------------------------------------*/

.object_map{
    position: relative;
    width: calc(100% - 20px);
    left: 10px;
    margin-top: 30px;
    flex-direction: column;
}

.object_meta{
    width: calc(100% - 40px);
    padding: 0px 20px 0px 20px;
    justify-content: center;
}

.object_meta_wrapper{
    margin-top: 34px;
    margin-bottom: 38px;
}

.object_meta_item{
    width: 100%;
}

.object_map_wrapper{
    width: 100%;
    height: 286px;
}

/*------------------------------------------------------------------- КАРТА ОБЪЕКТА ----------------------------------------------------------------------*/

/*----------------------------------------------------------------------- ТЕГИ ---------------------------------------------------------------------------*/

.tag_items{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 40px;
    margin-bottom: -20px;
    justify-content: initial !important;
}

.tag_wrapper._listing{
    margin-bottom: 18px;
}

/*----------------------------------------------------------------------- ТЕГИ ---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------- ФИЛЬТР --------------------------------------------------------------------------*/

.filter{
    flex-direction: column;
    padding: 40px 25px 30px;
}

.filter._doma .filter_select_item p {
    line-height: 30px;
}

.filter._doma .filter_select_block p {
    font-size: 14px;
}

.filter_block{
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 0px;
}
.filter .filter_block>div.filter_block._lastSelect{
    margin: 0px;
}

.filter_block._lastSelect .filter_select{
    min-width: 100%;
    margin-right: 0px;
}

.filter .filter_block>div.filter_block{
    margin-top: -20px;
    margin-bottom: -22px;
}

.filter .filter_block>div{
    margin-right: 25px;
    margin-bottom: 39px;
}

.filter .filter_block:first-child>div{
    width: 100%;
    margin-right: 0px;
}

.filter_submit{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 0px !important;
    margin-right: 0px !important;
    text-align: center;
}

.filter_submit_button{
    width: 100%;
}

p.filter_label{
    font-size: 16px;
}

/*---------------------------------------------------------------------- ФИЛЬТР --------------------------------------------------------------------------*/

/*---------------------------------------------------------------------- ТЕКСТ ---------------------------------------------------------------------------*/

.text{
    width: 100%;
}

.text,
.text._small{
    width: 100%;
}


.text p{
    margin-bottom: 21px;
    font-size: 16px;
    line-height: 22px;
}

.text ul{
    margin-bottom: 21px;
}

.text li{
    font-size: 16px;
    line-height: 22px;
}

/*---------------------------------------------------------------------- ТЕКСТ ---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------- ПОПАПЫ --------------------------------------------------------------------------*/

.popup_personal{
    flex-direction: column;
    padding: 54px 20px 25px;
    width: calc(100% - 70px);
}

.popup_personal_img{
    width: 100%;
    height: 230px;
    text-align: center;
    margin-bottom: 17px;
}

.popup_personal_img img{
    width: auto;
    height: 100%;
}

/*---------------------------------------------------------------------- ПОПАПЫ --------------------------------------------------------------------------*/

/*---------------------------------------------------------------------- УСЛУГИ --------------------------------------------------------------------------*/

.services {
    margin-top: 19px;
}

._problems .services_block{
    max-width: none;
    width: 100%;
}

._problems .services_block:nth-of-type(2){
    max-width: none;
    width: 100%;
}

._services .services_block{
    width: 100%;
    max-width: none;
    margin-bottom: 20px;
}

._services .services_block:nth-of-type(2){
    width: 100%;
    max-width: none;
}

.services_list._problems {
    margin-bottom: 20px;
}

.services_title p {
    font-size: 24px;
}

._problems .services_item p {
    font-size: 22px;
}

.services_item {
    margin-bottom: 13px;
}

/*---------------------------------------------------------------------- УСЛУГИ --------------------------------------------------------------------------*/

/*----------------------------------------------------------------- ФОРМА В УСЛУГАХ ----------------------------------------------------------------------*/

.serviceCallback {
    width: calc(100%);
    padding: 24px 15px 40px;
    margin: 43px 0px 0px -15px;
}

.serviceCallback .callback_input {
    order: 1;
}

.serviceCallback .callback_submit {
    order: 3;
}

.serviceCallback .callback_text{
    order: 2;
    margin-top: -2px;
    margin-bottom: 13px;
}

.serviceCallback .personalData_wrapper {
    order: 4;
    width: 100%;
}

/*----------------------------------------------------------------- ФОРМА В УСЛУГАХ ----------------------------------------------------------------------*/

/*--------------------------------------------------------------- СИНИЙ БЛОК В УСЛУГАХ -------------------------------------------------------------------*/

.services_blue{
    padding: 37px 0px 30px;
}

.services_blue_wrapper {
    width: calc(100% - 80px);
    display: flex;
    flex-direction: column;
}

.services_blue_item {
    width: 100%;
    margin-bottom: 20px;
}

.services_blue_title br{
    display: none;
}

/*--------------------------------------------------------------- СИНИЙ БЛОК В УСЛУГАХ -------------------------------------------------------------------*/

/*-------------------------------------------------------------- ДВОЙНОЙ БЛОК В УСЛУГАХ ------------------------------------------------------------------*/

.services_wb{
    flex-wrap: wrap;
}

.services_wb_block {
    width: 100%;
    padding: 14px 0px 13px;
}

.services_wb_item {
    margin-bottom: 25px;
    width: 167px;
}

/*-------------------------------------------------------------- ДВОЙНОЙ БЛОК В УСЛУГАХ ------------------------------------------------------------------*/

/*------------------------------------------------------------------ ДОСКА В УСЛУГАХ ---------------------------------------------------------------------*/

.services_board_line._firstLine .services_board_item {
    margin: 0px 0px 10px;
}

.services_board_line {
    justify-content: center;
    flex-wrap: wrap;
}

.services_board_line .services_board_item {
    width: 100%;
    margin-bottom: 10px;
}

/*------------------------------------------------------------------ ДОСКА В УСЛУГАХ ---------------------------------------------------------------------*/

/*--------------------------------------------------------------- БЕЛЫЙ БЛОК В УСЛУГАХ -------------------------------------------------------------------*/

.services_white {
    padding: 35px 30px 60px;
}

.services_white_block {
    width: calc(100% - 80px);
    left: 0px;
    flex-wrap: wrap;
}

.services_white_item {
    width: calc(100% - 65px);
}

.services_white_item:last-child {
    padding: 0px 50px 0px 0px;
    margin-top: 20px;
}

/*--------------------------------------------------------------- БЕЛЫЙ БЛОК В УСЛУГАХ -------------------------------------------------------------------*/

/*----------------------------------------------------------- БЕЛЫЙ БОЛЬШОЙ БЛОК В УСЛУГАХ ----------------------------------------------------------------*/

.services_whiteBig_wrapper{
    width: calc(100% - 60px);
    padding: 0px 30px;
}

/*----------------------------------------------------------- БЕЛЫЙ БОЛЬШОЙ БЛОК В УСЛУГАХ ----------------------------------------------------------------*/

/*------------------------------------------------------------------ ИКОНКИ В УСЛУГАХ ---------------------------------------------------------------------*/

.services_icons{
    flex-wrap: wrap;
    margin-bottom: -20px;
}

.services_icons_item{
    width: calc(50% - 20px);
    margin-bottom: 20px;
}

/*------------------------------------------------------------------ ИКОНКИ В УСЛУГАХ ---------------------------------------------------------------------*/

/*---------------------------------------------------------------- СОТРУДНИКИ В УСЛУГАХ -------------------------------------------------------------------*/


.services_person_item{
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.services_person_item img{
    margin-right: 0px;
    margin-bottom: 20px;
}

/*---------------------------------------------------------------- СОТРУДНИКИ В УСЛУГАХ -------------------------------------------------------------------*/

/*------------------------------------------------------------------------ БЛОГ ---------------------------------------------------------------------------*/

.blog_img{
    display: none;
}

/*------------------------------------------------------------------------ БЛОГ ---------------------------------------------------------------------------*/