@font-face {
    font-family: 'MadeEvolveSans';
    src: url('/fonts/MadeEvolveSansRegular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MadeEvolveSans';
    src: url('/fonts/MadeEvolveSansMedium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    
}

@font-face {
    font-family: 'MadeEvolveSans';
    src: url('/fonts/MadeEvolveSansBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'MadeEvolveSans';
    src: url('/fonts/MadeEvolveSansLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

*{
    margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;line-height:normal;
}

body, html {
    height: 100%;
}

body{
    font-family: 'MadeEvolveSans';
}

*:focus {
    outline: none;
}

a{
    color: inherit;
    text-decoration: none;
}

li{
    list-style: none;
}

.content_wrap a,
footer a{
    display: inline;
    color: #005078;
    border-bottom: 1px solid rgba(0, 80, 120, 0.3);
    text-decoration: none;
}

.content_wrap a:hover,
footer a:hover{
    color: #7ACFCF;
    border-color: #7ACFCF;
}

body._overflow{
    overflow: hidden;
}

body._overflow .main_wrap{
    filter: blur(4px);
}

.main_wrap{
    min-height:100%;
    background-color:#fff;
    display:flex;
    flex-direction:column;
}

.main_wrap._blur header,
.main_wrap._blur footer,
.main_wrap._blur .content_wrap{
    filter: blur(5px);
}

.main_wrap._blur header{
    top: -10px;
    padding-top: 10px;
}

.main_wrap._blur footer{
    bottom: 10px;
    padding-top: 10px;
}

.content_wrap{
    flex-grow:1;
    margin:0 auto;
    width: 100%;
    background: rgb(248,248,248);
    position: relative;
    margin-top: 100px;
    overflow: hidden;
    background-image: url(/img/background.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 55px;
}

.main_wrapper{
    width: 100%;
    position: relative;
}

.content_block{
    width: 1200px;
    margin: auto;
}

h1{
    font-weight: bold;
    line-height: 43px;
    font-size: 38px;
    letter-spacing: 0.01em;
    color: #000000;
}

h2{
    font-size: 36px;
    text-align: center;
    color: #000000;
}

h3{
    font-size: 28px;
    color: #000000;
}

._b{
    font-weight: 600;
}

.content_wrap p{
    line-height: normal;
    font-size: 18px;
    color: #333333;
    line-height: 25px;
}

.content_block_title{
    text-align: center;
    margin-top: 46px;
    margin-bottom: 26px;
}

.content_block_title._left h2{
    text-align: left;
}

.content_block_title p{
    margin-top: 4px;
}

._button{
    padding: 0px 44px;
    cursor: pointer;
    background: #F64000;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

._button:hover{
    background: #FF6B37;
}

._button:active{
    background: #C03200;
}

._button._inactive{
    background: #DEDEDE;
    color: #666666;
    cursor: initial;
}

._pagination {
    display: none;
}

/*------------------------------------------------------------------------ HEADER -----------------------------------------------------------------------*/




/*------------------------------------------------------------------------ HEADER -----------------------------------------------------------------------*/

/*------------------------------------------------------------------------ FOOTER -----------------------------------------------------------------------*/



/*------------------------------------------------------------------------ FOOTER -----------------------------------------------------------------------*/

/*------------------------------------------------------------------------ ГЛАВНАЯ -----------------------------------------------------------------------*/

.main_top{
    width: 100%;
    margin: 42px auto 50px;
    display: flex;
    align-items: center;
}

.main_top_desc{
    margin-left: 60px;
}

.main_top_desc p{
    font-size: 24px;
    line-height: 39px;
}

.main_nav{
    display: flex;
}

.main_nav_item{
    width: 50%;
    height: 30vw;
    background-size: cover;
    cursor: pointer;
}

.webp .main_nav_item._apartament{
    background-image: url(/img/main_apartament.webp);
}

.webp .main_nav_item._house{
    background-image: url(/img/main_house.webp);
}

.nowebp .main_nav_item._apartament{
    background-image: url(/img/main_apartament.jpg);
}

.nowebp .main_nav_item._house{
    background-image: url(/img/main_house.jpg);
}

.main_nav_item_content{
    padding: 36px 40px;
    height: calc(100% - 72px);
    background-color: rgba(255, 255, 255, 0);
    transition: background 0.2s ease;
}

a.main_nav_item_title{
    font-size: 36px;
    color: #FFFFFF;
    border: none;
}

a.main_nav_item_title:hover{
    font-size: 36px;
    color: #FFFFFF;
    border: none;
}

.main_nav_item_list{
    display: none;
    margin-top: 20px;
}

.main_nav_item_list a{
    pointer-events: none;
    color: white;
    line-height: 20px;
    font-size: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0px 30px 15px 0px;
}

.main_nav_item:hover a{
    pointer-events: initial;
}

.main_nav_item_list a:hover{
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.main_nav_item:hover .main_nav_item_content{
    background-color: rgba(0, 80, 120, 0.6);
}

.main_nav_item:hover .main_nav_item_list{
    display: flex;
    flex-wrap: wrap;
}

/*------------------------------------------------------------------------ ГЛАВНАЯ -----------------------------------------------------------------------*/

/*------------------------------------------------------------------------ ЛИСТИНГ -----------------------------------------------------------------------*/


/*------------------------------------------------------------------------ ЛИСТИНГ -----------------------------------------------------------------------*/

/*------------------------------------------------------------------------ КОМАНДА -----------------------------------------------------------------------*/

.content_block._personal{
    position: relative;
    padding: 0px 100px;
}

.personal_wrapper{
    position: relative;
    width: 1200px;
    padding-top: 60px;
    overflow: hidden;
}

.personal{

}

.personal_arrow{
    width: 78px;
    height: 59px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    background-image: url(/img/arrow.svg);
    background-size: 100%;
    opacity: 0.5;
}

.personal_arrow:hover{
    opacity: 1;
}

.personal_arrow._prev{
    left: 0px;
}

.personal_arrow._next{
    right: 0px;
    transform: rotate(180deg);
}

.personal_wrapper .swiper-slide{
    transition: transform 0.3s ease;
    cursor: pointer;
    width: 25%;
}

.personal_wrapper .swiper-slide._personalHalf{
    transform: translateY(-30px);
}

.personal_wrapper .swiper-slide._personalCurrent{
    transform: translateY(-60px);
}

.personal_item img{
    width: calc(100% - 20px);
    margin-left: 10px;
}

.personal_img{
    max-height: 330px;
    overflow: hidden;
    margin-bottom: 6px;
}

p.personal_name{
    width: calc(100% - 20px);
    margin-left: 10px;
    text-align: center;
    color: #005078;
    margin-top: 2px;
    line-height: normal;
}

p.personal_prof{
    width: calc(100% - 20px);
    margin-left: 10px;
    font-size: 14px;
    text-align: center;
    color: #666666;
    margin-top: 4px;
    line-height: normal;
}

.personal_content{
    display: none;
}

.personal_pagination{
    display: none;
}


/*------------------------------------------------------------------------ ЛИСТИНГ -----------------------------------------------------------------------*/

/*--------------------------------------------------------------------- ЭКСПЕРТНОСТЬ ---------------------------------------------------------------------*/

.pluses{
    display: flex;
    background-color: white;
    background-image: url(/img/plusesBack.svg);
    background-repeat: no-repeat;
    background-position: 0 100%;
    border: 1px solid #DEDEDE;
    margin-top: 77px;
}

.pluses_info{
    width: calc(50% - 120px);
    padding: 60px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pluses_info h3{    
    text-align: center;
    margin-bottom: 17px;
}

.pluses_info>p{
    margin-bottom: 19px;
}

.pluses_info ul{

}

.pluses_info li{
    position: relative;
    line-height: 25px;
    font-size: 18px;
    color: #333333;
    padding-left: 20px;
    margin-bottom: 5px;
}

.pluses_info li:last-child{
    margin-bottom: 0px;
}

.pluses_info li:before{
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    left: 1px;
    top: 9px;
    background: #F64000;
    transform: rotate(-45deg);
}

.pluses_items_wrap{
    width: calc(50% - 120px);
    background: #7ACFCF;
    padding: 0px 60px;
}

.pluses_items{
    margin: 40px 0px 52px;
}

.pluses_items li{
    position: relative;    
    padding-left: 77px;
    min-height: 57px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.pluses_items li:last-child{
    margin-bottom: 0px;
}

.pluses_items li p{
    line-height: 25px;
    font-size: 18px;
    color: #333333;
}

.pluses_items li:before{
    content: attr(data-plusNumber);
    position: absolute;
    width: 57px;
    text-align: center;
    line-height: 57px;
    font-size: 32px;
    color: #FFFFFF;
    background: #F64000;
    box-shadow: 0px 5px 15px rgba(3, 49, 52, 0.1);
    border-radius: 50%;
    left: 0px;
    top: calc(50% - 28px);
    font-weight: bold;
}

/*--------------------------------------------------------------------- ЭКСПЕРТНОСТЬ ---------------------------------------------------------------------*/

/*---------------------------------------------------------------- ПРОДАДИМ НЕДВИЖИМОСТЬ -----------------------------------------------------------------*/

.sell{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 30px 0px 30px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 5px 15px rgba(3, 49, 52, 0.1);
}

.sell:before{
    content: '';
    position: absolute;
    width: 160px;
    height: 120px;
    left: -20px;
    top: -5px;
    background-image: url(/img/m_logo.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotate(-90deg);
}

p.sell_text{
    margin-left: 175px;
    font-size: 28px;
    line-height: normal;
    color: #005078;
}

.sell_button{
    margin-right: 40px;
    line-height: 50px;
}

/*---------------------------------------------------------------- ПРОДАДИМ НЕДВИЖИМОСТЬ -----------------------------------------------------------------*/

/*----------------------------------------------------------------------- ОТЗЫВЫ -------------------------------------------------------------------------*/

.reviews{
    background-color: rgba(0, 80, 120, 0.05);
    padding: 37px 0px 0px;
    margin-top: 62px;
    position: relative;
}

.reviews .content_block_title{
    width: 1200px;
    margin: 0px auto;
}

.reviews_list{
    width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 31px 0px 62px;
}

.reviews_wrapper{

}

.review{
    display: flex;
}

.review_img{

}

.review_img img{
    width: 243px;
}

.review_body{
    padding: 20px 100px 20px 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.review_body:before,
.review_body:after{
    position: absolute;
    font-weight: 300;
    line-height: normal;
    font-size: 214px;
    color: #005078;
    opacity: 0.1;
}

.review_body:before{
    content: '«';
    left: 13px;
    top: -105px;
    
}

.review_body:after{
    content: '»';
    right: -13px;
    bottom: -75px;
}

.review_text{

}

.review_text_desc{
    margin-top: 9px;
}

.review_text_desc p{
    line-height: normal;
    font-size: 14px;
    color: #666666;
}

.reviews_arrow{
    width: 78px;
    height: 100%;
    position: absolute;
    top: 22px;
    cursor: pointer;
    background-image: url(/img/arrow.svg);
    background-size: 100%;
    opacity: 0.5;
}

.reviews_arrow:hover{
    opacity: 1;
}

.reviews_arrow._prev{
    left: calc(50% - 700px);
}

.reviews_arrow._next{
    right: calc(50% - 700px);
    transform: rotate(180deg);
}

/*----------------------------------------------------------------------- ОТЗЫВЫ -------------------------------------------------------------------------*/

/*---------------------------------------------------------------------- ЦЕННОСТИ ------------------------------------------------------------------------*/

.valuations{
    margin-top: 60px;
    box-shadow: 0px 5px 15px rgba(3, 49, 52, 0.1);
}

.valuations_header{
    background-color: rgba(0, 80, 120, 0.05);
    padding: 30px 0px 0px;
}

.valuations_header h2{

}

.valuations_menu{
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.valuations_menu_item{
    margin: 0px 30px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.valuations_menu_item._active{
    border-color: #F64000;
    cursor: initial;
    pointer-events: none;
}

.valuations_menu_item p{
    line-height: 30px;
    font-size: 18px;
    color: #005078;
    font-weight: bold;
}

.valuations_menu_item._active p{
    color: #F64000;
}

.valuations_items{
    background-color: white;
}

.valuations_item{
    display: none;
    padding: 40px 120px 55px;
    width: calc(100% - 240px);
}

.valuations_item._active{
    display: flex;
}

.valuations_item_img{
    width: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.valuations_item img{

}

.valuations_item_text{
    width: calc(100% - 175px);
}

.valuations_item_text h3{
    margin-bottom: 12px;
}

.valuations_item_text p{

}

/*---------------------------------------------------------------------- ЦЕННОСТИ ------------------------------------------------------------------------*/

/*------------------------------------------------------------------- ОБРАТНАЯ СВЯЗЬ ---------------------------------------------------------------------*/

.callback{
    display: flex;
    box-shadow: 0px 5px 15px rgba(3, 49, 52, 0.1);
    margin-top: 55px;
}

.callback_info{
    width: 512px;
    /*width: calc(50% - 80px);*/
    padding: 30px 30px 26px 30px;
    display: flex;
    background-color: #7ACFCF;
    align-items: center;
}

.callback_img{ 
    margin-right: 19px;
}

.callback_img img{
    width: 224px;
}

.callback_text{

}

.callback_text h2{
    text-align: left;
}

p.callback_body{
    margin-top: 7px;
    margin-bottom: 13px;
}

p.callback_body span{
    font-weight: 600;
}

p.callback_name{
    font-weight: bold;
    line-height: 26px;
    font-size: 18px;
    color: #000000;
    margin-bottom: -3px;
}

p.callback_prof{
    line-height: 18px;
    font-size: 14px;
    color: #000000;
}

.callback_form{
    width: 533px;
    /*width: calc(50% - 95px);*/
    background-color: white;
    display: flex;
    align-items: center;
    padding: 20px 35px 20px 60px;
    position: relative;
}

.callback_form_success{
    display: none;
}

p.callback_form_success_title{
    font-size: 36px;
    color: #000000;
    line-height: normal;
}

p.callback_form_success_text{
    margin: 6px 0px;
}

.callback_form_reload a{
    cursor: pointer;
}

.callback_form form{
    display: flex;
    flex-wrap: wrap;
}

.callback_form._success form{
    position: absolute;
    opacity: 0.05;
    pointer-events: none;
}

.callback_form._success .callback_form_success{
    display: block;
}

.callback_input{
    width: 234px;
    margin-right: 22px;
    margin-bottom: 22px;
    position: relative;
}

.callback_form label{
    display: block;
    width: 100%;
    font-size: 18px;
    color: #333333;
    margin-bottom: 3px;
}

.callback_input input{
    width: calc(100% - 38px);
    border: 1px solid #80A7BB;
    border-radius: 2px;
    line-height: 38px;
    padding: 0px 15px;
    font-size: 18px;
}

.callback_input input:focus{
    border: 1px solid #005078;
}

p.callback_input_err{
    display: none;
    font-size: 14px;
    color: #F64000;
    position: absolute;
    bottom: -17px;
    line-height: 14px;
}

.callback_input._error p.callback_input_err{
    display: block;
}

.callback_input._error input{
    border: 1px solid #F64000;
}

.callback_textarea{
    width: 490px;
}

.callback_form textarea{
    width: calc(100% - 38px);
    border: 1px solid #80A7BB;
    border-radius: 2px;
    margin-bottom: 20px;
    height: 90px;
    line-height: 25px;
    font-size: 18px;
    color: #333333;
    padding: 10px 15px;
}

.callback_form textarea:focus{
    border: 1px solid #005078;
}

.callback_submit{
    line-height: 50px;
}

.personalData_wrapper{
    width: calc(100% - 275px);
    position: relative;
}

.personalData {
    display: none;
}

.personalData_label{
    position: absolute;
    font-size: 14px;
    bottom: calc(50% - 18px);
    left: 19px;
    font-weight: 300;
    cursor: pointer;
    padding-left: 22px;
}

.personalData_label:before {
    background: white;
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border: 1px solid #80A7BB;
    border-radius: 2px;
    left: 0px;
    top: 1px;
}

.personalData_label:after {
    content: '';
    position: absolute;
    width: 3px;
    height: 8px;
    left: 6px;
    transform: rotate(45deg);
    top: 3px;
    will-change: transform;
}

.personalData:checked + .personalData_label:after {
    border-bottom: 2px solid #005078;
    border-right: 2px solid #005078;
}

.personalData_label p{
    line-height: 18px;
    font-size: 14px;
    color: #333333;
}

/*------------------------------------------------------------------- ОБРАТНАЯ СВЯЗЬ ---------------------------------------------------------------------*/

/*----------------------------------------------------------------------- ПОПАПЫ -------------------------------------------------------------------------*/

.popups{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 999999;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.popups._active{
    display: flex;
}

.popup_overlay{
    display: none;
    z-index: 9;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.popups._active .popup_overlay{
    display: block;
}

._popup{
    z-index: 10;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(3, 49, 52, 0.1);
    position: relative;
    cursor: initial;
    display: none;
    padding: 30px;
    width: 660px;
}

._popup._active{
    display: flex;
}

.popup_personal{
    
}

.popup_personal_img{
    width: 224px;
}

.popup_personal_img img{
    width: 100%;
}

.popup_personal_body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    flex-shrink: 99999;
}

.popup_personal_top{

}

.popup_personal_prof{
    line-height: 25px;
    font-size: 18px;
    color: #333333;
}

.popup_personal_name{
    line-height: 28px;
    font-size: 26px;
    color: #000000;
}

.popup_personal_bottom b{
    font-weight: 600;
}

.popup_personal_bottom ul{

}

.popup_personal_bottom li{
    line-height: 25px;
    font-size: 18px;
    color: #333333;
    margin-top: 5px;
    padding-left: 21px;
    position: relative;
}

.popup_personal_bottom li:after{
    content: '';
    width: 7px;
    height: 7px;
    background-color: #F64000;
    transform: rotate(45deg);
    position: absolute;
    left: 2px;
    top: 8px;
}

.popup_close{
    width: 30px;
    height: 30px;
    position: absolute;
    transform: rotate(45deg);
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.popup_close:hover:after,
.popup_close:hover:before{
    background-color: #005078;
}

.popup_close:after,
.popup_close:before{
    content: '';
    position: absolute;
    background-color: #80A7BB;
}

.popup_close:after{
    width: 20px;
    height: 2px;
    top: 14px;
    left: 5px;
}

.popup_close:before{
    width: 2px;
    height: 20px;
    top: 5px;
    left: 14px;
}

.callback_popup{
    width: 600px;
}

.callback_popup form{
    display: flex;
    flex-wrap: wrap;
}

.callback_popup .callback_input{
    width: calc(50% - 10px);
    margin-right: 20px;
}

.callback_popup .callback_input:nth-child(3){
    margin-right: 0px;
}

.callback_popup .callback_textarea{
    width: 100%;
}

.callback_popup textarea{
    height: 50px;
}

.callback_popup .personalData_wrapper {
    width: calc(100% - 180px);
}

.callback_popup .callback_form{
    display: block;
    width: 100%;
    padding: 0px;
    background-color: transparent;
}

.callback_popup_text{
    margin-bottom: 30px;
}

.callback_popup_title{
    font-size: 36px;
}

.callback_popup_desc{
    font-size: 18px;
    margin-top: 11px;
}

.callback_popup .callback_form_success{
    text-align: center;
    margin: 25px 0px 15px;
}

.callback_popup .callback_form_success_text{
    font-size: 18px;
    line-height: 25px;
    margin: 10px 0px;
}

.callback_popup .callback_form_success .popup_close{
    transform: rotate(0deg);
    position: relative;
    right: 0px;
    top: 0px;
    width: auto;
    height: auto;
    color: #005078;
    border-bottom: 1px dashed #005078;
    display: inline-block;
}

.callback_popup .callback_form_success .popup_close:after,
.callback_popup .callback_form_success .popup_close:before{
    display: none;
}

.callback_popup .callback_form._success form {
    opacity: 0;
}

.hidden_input{
    display: none;
}

.callback_form_loading{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0px;
    top: 0px;
    background-color: rgba(255,255,255,0.8);
    justify-content: center;
    align-items: center;
}

._loading .callback_form_loading{
    display: flex;
}

.callback_form_loading_logo{
    display: none;
    width: 134px;
    height: 100px;
    background-image: url(/img/m_logo.svg);
    background-size: cover;
    filter: hue-rotate(0deg);
    transition: filter 0.2s ease;
    animation: callbackLogo 2s infinite ease;
}

@keyframes callbackLogo {
    from {filter: hue-rotate(0deg);}
    50% {filter: hue-rotate(-20deg);}
    to {filter: hue-rotate(0deg);}
}

._loading .callback_form_loading_logo{
    display: block;
}

/*----------------------------------------------------------------------- ПОПАПЫ -------------------------------------------------------------------------*/

/*----------------------------------------------------------------- ЗАГОЛОВОК ВНУТРЯКА -------------------------------------------------------------------*/

.title{
    text-align: center;
    position: relative;
    width: 710px;
    margin: 19px auto 0px;
}

.title h1{
    padding-top: 36px;
}

.search_open{
    height: 28px;
    width: 28px;
    display: inline-block;
    position: absolute;
    margin-left: 13px;
    bottom: 5px;
    cursor: pointer;
    background-image: url(/img/search_icon.svg);
    background-size: 100%;
}

.search_popup{

}

.search_popup_wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search_popup_title{
    font-size: 36px;
    color: #000000;
}

.search_popup_input{
    height: 40px;
    white-space: nowrap;
    border: 1px solid #80A7BB;
    border-radius: 2px;
    padding: 0px 16px 0px 16px;
    line-height: 40px;
    width: calc(100% - 32px);
    margin: 30px 0px 23px;
    font-size: 18px;
}

.search_popup_input::placeholder {
    color: #C4C4C4;
}

.search_popup_button{
    line-height: 40px;
}

.search_full{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px 20px;
}

.search_full .search_popup_input{
    margin: 0px;
}

.search_full .search_popup_button {
    margin-left: 30px;
}


.breadcrumbs{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0px;
    width: 100%;
}

.breadcrumbs a{
    position: relative;
    line-height: 18px;
    font-size: 14px;
    color: #666666;
    border-bottom: 1px solid rgba(51, 51, 51, 0.3);
    margin: 0px 12px;
    cursor: pointer;
}

.breadcrumbs a:hover{
    color: #666666;
    border-bottom: 1px solid #666666;
}

.breadcrumbs a:after{
    content: '→';
    position: absolute;
    left: calc(100% + 6px);
    pointer-events: none;
}

.breadcrumbs a:last-child:after{
    display: none;
}

.title_adds{
    margin-top: 17px;
}

.title_adds_address{

}

.title_adds_address p{
    line-height: 25px;
    font-size: 18px;
}

.title_adds_address span{
    margin-left: 18px;
    position: relative;
    display: inline;
    color: #005078;
    border-bottom: 1px solid rgba(0, 80, 120, 0.3);
    text-decoration: none;
}

.title_adds_address span:before{
    content: '';
    position: absolute;
    width: 11px;
    height: 15px;
    background-image: url(/img/pin_icon.svg);
    left: -18px;
    top: 4px;
}

.title_adds_service{
    margin-top: -10px;
}

.title_adds_service p{
    font-size: 28px;
    color: #000000;
    line-height: normal;
}

/*----------------------------------------------------------------- ЗАГОЛОВОК ВНУТРЯКА -------------------------------------------------------------------*/

/*------------------------------------------------------------------- ШАПКА ОБЪЕКТА ----------------------------------------------------------------------*/

.object_head{
    display: flex;
    margin-top: 60px;
}

.object_gallery{
    width: 710px;
}

.object_gallery .fotorama__thumb-border{
    border: 3px solid #005078;
}

.fotorama__thumb:hover:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(73, 177, 229, 0.5);
    z-index: 1;
}

.object_info{
    width: calc(100% - 750px);
    padding-left: 40px;
}

.object_icons{
    display: flex;
    flex-wrap: wrap;
}

.object_icon{
    width: calc(25% - 11px);
    border-right: 1px solid #DDDDDD;
    text-align: center;
    padding: 48px 5px 2px;
    position: relative;
    margin-bottom: 22px;  
}

.object_icon:nth-child(4n),
.object_icon:last-child{
    border-right: none;
}

.object_icon:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 48px;
    left: 0px;
    top: 0px;
    background-repeat: no-repeat;
    background-position: 50%;
}

.object_icon._rooms:before{
    background-image: url(/img/object_icon_rooms.svg);
}

.object_icon._floors:before{
    background-image: url(/img/object_icon_floors.svg);
}

.object_icon._square:before{
    background-image: url(/img/object_icon_square.svg);
}

.object_icon._date:before{
    background-image: url(/img/object_icon_date.svg);
}

p.object_icon_title{
    font-weight: bold;
    line-height: 35px;
    font-size: 27px;
    color: #333333;
}

p.object_icon_desc{
    font-weight: bold;
    line-height: 13px;
    font-size: 10px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333333;
}

.object_buy{
    display: flex;
    background-color: white;
    margin-bottom: 23px;
}

.object_buy_price{
    width: calc(100% - 240px);
    padding: 24px 40px 24px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p.object_buy_text{
    font-weight: bold;
    line-height: 13px;
    font-size: 10px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333333;
}

p.object_buy_newPrice{
    font-weight: bold;
    line-height: 44px;
    font-size: 34px;
    color: #1DAD67;
    margin-top: -5px;
    margin-bottom: -5px;
}

p.object_buy_oldPrice{
    line-height: 20px;
    font-size: 16px;
    text-decoration-line: line-through;
    color: #333333;
}

.object_buy_button{
    width: 180px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.object_buy_button p{
    position: relative;
    line-height: 33px;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: #FFFFFF;
    z-index: 4;
}

.object_buy_button_back{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    overflow: hidden;
}

.object_buy_button_back._l1{
    left: 0px;
}

.object_buy_button_back._l2{
    left: -6px;
}

.object_buy_button_back._l3{
    left: -12px;
}

.object_buy_button_back:before,
.object_buy_button_back:after{
    content: '';
    position: absolute;
    left: 0px;
    width: 100%;
    height: 50%;
    will-change: transform;
    transition: background 0.2s ease;
}

.object_buy_button_back:before{
    top: 0px;
    transform: skew(15deg);
    transform-origin: 0px 0px;
}

.object_buy_button_back:after{
    bottom: 0px;
    transform: skew(-15deg);
    transform-origin: 0px 100%;
}

.object_buy_button_back._l1:before,
.object_buy_button_back._l1:after{
    background-color: #F64000;
    z-index: 3;
}

.object_buy_button_back._l2:before,
.object_buy_button_back._l2:after{
    background-color: #FF6B37;
    z-index: 2;
}

.object_buy_button_back._l3:before,
.object_buy_button_back._l3:after{
    background-color: rgb(250,148,112);
    z-index: 1;
}

.object_buy_button:hover .object_buy_button_back._l1:before,
.object_buy_button:hover .object_buy_button_back._l1:after{
    background-color: #FF6B37;
}

.object_buy_button:active .object_buy_button_back._l1:before,
.object_buy_button:active .object_buy_button_back._l1:after{
    background-color: #C03200;
}

/*------------------------------------------------------------------- ШАПКА ОБЪЕКТА ----------------------------------------------------------------------*/

/*------------------------------------------------------------------- КАРТА ОБЪЕКТА ----------------------------------------------------------------------*/

.object_map{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
}

.object_meta{
    width: calc(50% - 100px);
    background-color: white;
    display: flex;
    justify-content: flex-end;
    padding: 0px 45px 0px 55px;
    align-items: center;
}

.object_meta._single{
    width: auto;
    padding: 40px 45px 40px 55px;
}

.object_meta_wrapper{
    width: 545px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.object_meta_item{
    width: calc(50% - 16px);
    display: flex;
    justify-content: space-between;
    margin-bottom: 11px;
}

p.object_meta_item_name{
    white-space: nowrap;
}

.object_meta_item_dots{
    width: 100%;
    margin: 0px 6px;
    border-bottom: 1px dotted rgb(204,204,204);
    margin-bottom: 7px;
}

p.object_meta_item_data{
    white-space: nowrap;
    font-weight: bold;
}

.contacts_map_wrapper{
    width: 100%;
    height: 400px;
    margin-top: 36px;
}

.object_map_wrapper{
    width: 50%;
    height: 500px;
}

#map{
    width: 100%;
    height: 100%;
}

.mapBalloon{
    text-align: center;
}

.mapBalloon p{
    line-height: 18px;
    font-size: 14px;
    text-align: center;
    color: #333333;
}

.close{
    position: absolute;
    right: 6px;
    top: -4px;
    border-bottom: none !important;
    font-size: 25px;
}

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    max-width: 320px;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.popover.top {
    margin-top: -10px;
}

.popover-content {
    padding: 10px 25px 10px;
}

.popover .arrow {
    width: 47px;
    height: 24px;
    background-image: url(/img/m_logo.svg);
    position: absolute;
    bottom: -24px;
    left: calc(50% - 23px);
    background-size: 100%;
    background-position: 0px -11px;
    overflow: hidden;
}

.popover .arrow:after {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    transform: rotate(45deg);
    background-color: white;
    top: -23px;
    left: 6px;
}


/*------------------------------------------------------------------- КАРТА ОБЪЕКТА ----------------------------------------------------------------------*/

/*----------------------------------------------------------------------- ТЕГИ ---------------------------------------------------------------------------*/

.tag_wrapper{
    margin-top: 40px;
    margin-bottom: -20px;
    overflow: hidden;
}

.tag_items{
    display: flex;
    flex-wrap: wrap;
}

._listing .tag_items{
    justify-content: center;
}

._listing .tag{
    margin-right: 9px;
    margin-left: 9px;
}

a.tag{
    padding: 0px 23px;
    border: 1px solid #80A7BB;
    border-radius: 4px;
    margin-right: 18px;
    margin-bottom: 18px;
    cursor: pointer;
    width: auto;
}

.tag p{
    font-size: 16px;
    color: #005078;
    line-height: 23px;
}

a.tag:hover,
a.tag._active{
    background-color: #80A7BB;
    border: 1px solid #80A7BB;
}

.tag:hover p,
.tag._active p{
    color: white;
}

/*.tag._active:hover{
    background-color: transparent;
}*/

.tag._active:hover p{
    color: #005078;;
}

/*----------------------------------------------------------------------- ТЕГИ ---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------- ФИЛЬТР --------------------------------------------------------------------------*/



/*---------------------------------------------------------------------- ФИЛЬТР --------------------------------------------------------------------------*/

/*---------------------------------------------------------------------- ТЕКСТ ---------------------------------------------------------------------------*/

.text{
    width: 100%;
    margin: 50px auto -25px;
}

.text._services{
    margin: 50px auto 0px;
}

.text._small{
    width: 950px;
}

.text p{
    margin-bottom: 10px;
}

.text ul{
    margin-bottom: 21px;
}

.text ul._orange li{
    line-height: 25px;
    font-size: 18px;
    color: #333333;
    padding-left: 22px;
    position: relative;
    margin-bottom: 8px;
    list-style-type: none;
}

.text ul._orange li:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    background-color: #F64000;
    left: 0px;
    top: 8px;
}

.text li{
    font-size: 18px;
    line-height: 25px;
    list-style-type: decimal;
    list-style-position: inside;
    padding-left: 20px;
    margin-bottom: 7px;
    color: #333333;
}

.text h2{
    margin-bottom: 12px;
    margin-top: 26px;
}

.text h3{
    margin-bottom: 12px;
    margin-top: 26px;
    text-align: center;
}

.text b{
    font-weight: 600;
}

.text img{
    max-width: 100%;
    max-height: 350px;
    margin: 12px auto 30px;
    display: block;
}

/*---------------------------------------------------------------------- ТЕКСТ ---------------------------------------------------------------------------*/

/*---------------------------------------------------------------- ПАГИНАЦИЯ ЛИСТИНГА --------------------------------------------------------------------*/



/*---------------------------------------------------------------- ПАГИНАЦИЯ ЛИСТИНГА --------------------------------------------------------------------*/

/*-------------------------------------------------------------------- КОНТАКТЫ --------------------------------------------------------------------------*/

.contacts{
    margin-top: 40px;
}

.contacts_item{
    display: flex;
    margin: 12px 0px 0px;
}

.contacts_title{
    width: 102px;
    margin-right: 20px;
    font-weight: 600;
}

.contacts_text{
    align-self: center;
    margin-top: 2px;
}

/*-------------------------------------------------------------------- КОНТАКТЫ --------------------------------------------------------------------------*/


/*--------------------------------------------------------------------- УСЛУГИ ---------------------------------------------------------------------------*/

.services{
    width: 100%;
    margin-top: 18px;
}

.services_list._problems{
    margin-bottom: 55px;
}

.services_list._services{
    margin-bottom: -27px;
}

.services_block{
    width: 350px;
}

.services_block:nth-of-type(2){
    max-width: 250px;
}

.services_item{
    max-width: 350px;
    margin-bottom: 20px;
}

.services_item._title{
    margin-bottom: 9px;
}

._problems .services_item p{
    font-size: 28px;
    color: #000000;
    padding-left: 20px;
    position: relative;
    line-height: normal;
}

._problems .services_item p:before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    background-color: #F64000;
    left: 0px;
    top: 10px;
}

._services .services_item a{
    line-height: 30px;
    font-size: 22px;
}

._services .services_item p{
    line-height: 31px;
    font-size: 22px;
    color: #000000;
    font-weight: 600;
}

.services_list{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services_title{
    margin-bottom: 20px;
}

.services_title p{
    font-size: 28px;
    line-height: normal;
    color: #000000;
}

/*--------------------------------------------------------------------- УСЛУГИ ---------------------------------------------------------------------------*/

/*----------------------------------------------------------------- ФОРМА В УСЛУГАХ ----------------------------------------------------------------------*/

.serviceCallback{
    background: #7ACFCF;
    box-shadow: 0px 5px 15px rgba(3, 49, 52, 0.1);
    width: 690px;
    padding: 24px 132px 40px;
    margin: 43px auto 0px;
}

.serviceCallback h3{
    text-align: center;
}

.serviceCallback form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.callback_text{
    width: calc(100% - 270px); 
    padding-right: 10px;
}

.callback_text p{
    line-height: 18px;
    font-size: 14px;
}

.serviceCallback .personalData_wrapper{
    width: 260px;
}

.serviceCallback .callback_submit {
    line-height: 40px;
    margin-bottom: -4px;
}

.serviceCallback .personalData_label{
    bottom: calc(100% - 10px);
}

.serviceCallback .personalData_label a:hover{
    color: #005078;
    border-bottom: 1px solid #005078;
}

.serviceCallback .callback_input {
    margin-bottom: 19px;
}

.serviceCallback label {
    display: block;
    width: 100%;
    font-size: 18px;
    color: #333333;
    margin-bottom: 3px;
}

.serviceCallback .personalData_label:before {
    background: transparent;
}

/*----------------------------------------------------------------- ФОРМА В УСЛУГАХ ----------------------------------------------------------------------*/

/*--------------------------------------------------------------- СИНИЙ БЛОК В УСЛУГАХ -------------------------------------------------------------------*/

.services_blue{
    background: linear-gradient(0deg, #EBF7F9, #EBF7F9), linear-gradient(203.79deg, #FFFFFF 11.74%, #EBF7F9 88.26%), #005078;
    padding: 37px 0px 50px;
    margin-top: 50px;
}

.services_blue_wrapper{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.services_blue_item{
    width: 345px;
}

p.services_blue_title{
    font-weight: bold;
    line-height: 28px;
    font-size: 26px;
}

.services_blue_item ul{
    margin-top: 11px;
}

.services_blue_item li{
    line-height: 25px;
    font-size: 18px;
    color: #333333;
    padding-left: 22px;
    position: relative;
    margin-bottom: 13px;
}

.services_blue_item li:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    background-color: #F64000;
    left: 0px;
    top: 8px;
}

/*--------------------------------------------------------------- СИНИЙ БЛОК В УСЛУГАХ -------------------------------------------------------------------*/

/*-------------------------------------------------------------- ДВОЙНОЙ БЛОК В УСЛУГАХ ------------------------------------------------------------------*/

.services_wb{
    display: flex;
    align-items: flex-end;
    background-color: white;
    margin-top: 50px;
}

.services_wb_block{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 14px 0px 38px;
}

.services_wb_block:nth-of-type(1){
    background-color: white;        
}

.services_wb_block:nth-of-type(2){
    background: #7ACFCF;
}

p.services_wb_item_h{
    width: 100%;
    font-weight: bold;
    line-height: normal;
    font-size: 28px;
    text-align: center;
    color: #000000;
    margin-bottom: 9px;
}

.services_wb_item{
    width: 200px;
    padding: 0px 10px;
    text-align: center;
}

p.services_wb_item_title{
    line-height: normal
}

p.services_wb_item_value{
    line-height: 28px;
    font-size: 26px;
    color: #000000;
    font-weight: 600;
    margin-top: 8px;
}

/*-------------------------------------------------------------- ДВОЙНОЙ БЛОК В УСЛУГАХ ------------------------------------------------------------------*/

/*------------------------------------------------------------------ ДОСКА В УСЛУГАХ ---------------------------------------------------------------------*/

.services_board{
    margin-top: 50px;
}

.services_board h2{
    margin-bottom: 12px;
}

.services_board_line{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 42px 0px 32px;
    flex-wrap: wrap;
}

.services_board_line._firstLine{
    justify-content: center;   
}

.services_board_item{
    width: 260px;
    padding: 37px 15px 26px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(3, 49, 52, 0.1);
    margin-bottom: 22px;
}

.services_board_line._firstLine .services_board_item{
    margin: 0px 21px;
}

.services_board_item img{
    height: 100px;
    margin-bottom: 18px;
}

p.services_board_item_title{
    font-weight: bold;
    line-height: 28px;
    font-size: 26px;
    color: #000000;
}

p.services_board_item_text{
    line-height: normal;
    margin-top: 6px;
}

p.services_board_item_priceNew{
    margin-top: 9px;
    font-weight: bold;
    line-height: 28px;
    font-size: 26px;
    color: #1DAD67;
}

p.services_board_item_priceOld{
    text-decoration-line: line-through;
    color: #666666;
}

.services_board_item_button{
    letter-spacing: 0.02em;
    color: #000000;
    font-size: 18px;
    line-height: 38px;
    border: 1px solid #F64000;
    border-radius: 5px;
    width: 118px;
    text-align: center;
    margin: 23px auto 0px;
    font-weight: 600;
    cursor: pointer;
}

.services_board_item_button:hover{
    border: 1px solid #FF6B37;
}

.services_board_item_button:active{
    border: 1px solid #C03200;
}


/*------------------------------------------------------------------ ДОСКА В УСЛУГАХ ---------------------------------------------------------------------*/

/*--------------------------------------------------------------- БЕЛЫЙ БЛОК В УСЛУГАХ -------------------------------------------------------------------*/

.services_white{
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    margin-top: 50px;
    padding: 35px 120px 60px;
}

.services_white .text{
    margin-top: 20px;
}

.services_white_block{
    width: 100%;
    padding: 21px 40px;
    position: relative;
    left: -40px;
    background: #ECF0F2;
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.services_white_item{
    width: calc(50% - 65px);
    padding-right: 65px;
}

.services_white_item:last-child{
    padding: 0px 50px 0px 15px;
}

p.services_white_block_title{
    font-weight: bold;
    line-height: normal;
    color: #1DAD67;
    margin-bottom: 9px;
}

.services_white_item:last-child p.services_white_block_title{
    color: #F64000;
}

.services_white_block_text{

}



/*--------------------------------------------------------------- БЕЛЫЙ БЛОК В УСЛУГАХ -------------------------------------------------------------------*/

/*----------------------------------------------------------- БЕЛЫЙ БОЛЬШОЙ БЛОК В УСЛУГАХ ----------------------------------------------------------------*/

.services_whiteBig{
    background-color: white;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
    margin-top: 50px;
    padding: 33px 0px 46px;
}

.services_whiteBig_wrapper{
    width: 1200px;
    margin: 0px auto;
}

.services_whiteBig .text{
    margin-top: 20px;
}

/*----------------------------------------------------------- БЕЛЫЙ БОЛЬШОЙ БЛОК В УСЛУГАХ ----------------------------------------------------------------*/

/*------------------------------------------------------------------ ИКОНКИ В УСЛУГАХ ---------------------------------------------------------------------*/

.services_icons{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services_icons_item{
    width: 224px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
}

.services_icons_item_img{
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services_icons_item p{
    text-align: center;
}

/*------------------------------------------------------------------ ИКОНКИ В УСЛУГАХ ---------------------------------------------------------------------*/

/*---------------------------------------------------------------- СОТРУДНИКИ В УСЛУГАХ -------------------------------------------------------------------*/

.services_person{
    margin-top: 50px;
}

.services_person h2{
    margin-bottom: 20px;
}

.services_person_item{
    display: flex;
    align-items: flex-start;
    background-color: white;
    padding: 30px;
    margin-bottom: 30px;
}

.services_person_item img{
    margin-right: 30px;
}

p.services_person_name{
    font-weight: bold;
    line-height: normal;
    font-size: 22px;
    color: #000000;
    margin-bottom: 10px;
}

p.services_person_plain{
    margin-bottom: 10px;
}

/*---------------------------------------------------------------- СОТРУДНИКИ В УСЛУГАХ -------------------------------------------------------------------*/

/*------------------------------------------------------------------------ БЛОГ ---------------------------------------------------------------------------*/

.blog{
    margin-top: 50px;
}

.blog_item{
    margin-bottom: 40px;
    display: flex;
}

.blog_text{

}

.blog_img{
    margin-right: 14px;
}

.blog_img img{
    width: 223px;
}

.blog_text a{
    font-weight: bold;
    font-size: 18px;
    display: inline;
}

.blog_preview{
    font-size: 18px;
    line-height: 24px;
    margin-top: 5px;
}

p.blog_date{
    line-height: normal;
    font-size: 14px;
    color: #666666;
}

.blog_preview p{
    margin-bottom: 10px;
}

.blog_preview ul{
    margin-bottom: 21px;
}

.blog_preview ul._orange li{
    line-height: 25px;
    font-size: 18px;
    color: #333333;
    padding-left: 22px;
    position: relative;
    margin-bottom: 8px;
    list-style-type: none;
}

.blog_preview ul._orange li:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    background-color: #F64000;
    left: 0px;
    top: 8px;
}

.blog_preview li{
    font-size: 18px;
    line-height: 25px;
    list-style-type: decimal;
    list-style-position: inside;
    padding-left: 20px;
    margin-bottom: 7px;
    color: #333333;
}

.blog_preview h2{
    margin-bottom: 12px;
}

.blog_preview b{
    font-weight: 600;
}

/*------------------------------------------------------------------------ БЛОГ ---------------------------------------------------------------------------*/

/*------------------------------------------------------------------------ ПОСТ ---------------------------------------------------------------------------*/

.post{
    width: 954px;
    margin: 40px auto 0px;
}

.post.text{
    font-size: 18px;
    line-height: 24px;
}

/*------------------------------------------------------------------------ ПОСТ ---------------------------------------------------------------------------*/


.object_gallery_main img{
    display: none;
}

.object_gallery_main img._active{
    display: block;
}

.object_gallery_main{
    width: 714px;
    height: 472px;
}